<div id="contact-me" class="container contact-me">
  <h3>Contact Me</h3>
  <p>I am always available via LinkedIn, however, if you require contact by email, you can use this form below. Cheers!</p>
  <form action="https://formspree.io/alexander.piercey@gmail.com" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Name" required>

    <label for="_replyto">Email</label>
    <input type="email" name="_replyto" placeholder="Email" required>

    <label for="body">Message</label>
    <textarea name="body" placeholder="Message" rows="15" required></textarea>

    <input type="submit" value="Send">
  </form>
</div>
