<header>
  <div class="title-bar">
    <div class="toggle-bar">
      <div class="toggle item"><span>|||</span></div>
      <form action="home_submit" method="get" accept-charset="utf-8">

      </form>
    </div>

    <div class="branding toggleable">
      <h1>Alexander Butt-Piercey</h1>
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/alexander-butt-piercey/" target="_blank"><span class="icon-linkedin-circled-1"></span></a>
        </li>
        <li>
          <a href="https://github.com/APiercey" target="_blank"><span class="icon-github-circled"></span></a>
        </li>
      </ul>
    </div>

    <ul class="nav toggleable">
      <li class="item">
        <a href="http://www.url.com" target="_blank">Blog</a>
      </li>
      <li class="item">
        <a href="http://www.url.com" target="_blank">About</a>
      </li>
      <li class="item">
        <a href="http://www.url.com" target="_blank">Projects</a>
      </li>
    </ul>
  </div>

  <div class="content">
    <div class="about">
      <h2>Technology Visionary</h2>
      <p>Believer in Lean, staying Agile, and learning the hearts and minds of the customer. I have had the pleasure to help build world-class startups in Canada and Germany. Let's build the future together.</p>
    </div>
  </div>
  </div>
</header>
