.container {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;
  
    @media only screen and (min-width: $medium-handheld) {
      margin-left: 8rem;
      margin-right: 8rem;
    }
}

