$large-handheld: 730px;
$monitor: 1200px;

header {
  $border: 1.5px solid rgba(255,255,255,0.2);

  background-image: url('/images/me-filtered.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: $white;

  .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .title-bar, .simple-about {
    display: flex;
    background: rgba(79, 97, 77, 0.25);
  }

  .title-bar {
    flex-direction: column;
  }

  .branding {
    display: flex;
    border-bottom: $border;
    justify-content: space-between;
    height: 4em;
    align-items: center;
    flex-direction: row;
    align-items: space-between;
    
    h1 {
      padding-left: 1rem;
    }

    .toggle {
      display: flex;

      span {
        transform: rotate(90deg);
      }

      @media only screen and (min-width: $monitor) {
        display: none;
      }
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    // height: 100%;

    li {
      display: flex;
      border-bottom: $border;
      height: 2rem;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .item {
    border-left: $border;
    padding: 0 1.5rem;
    align-items: center;
    text-align: center;
    height: 100%;

    @media only screen and (min-width: $monitor) {
      display: flex;
    }
  }


  .simple-about {
    border-top: $border;
    color: $white;
    flex-direction: column;

    @media only screen and (min-width: $large-handheld) {
      flex-direction: row;
      justify-content: space-between;
      height: 9rem;
    }

    @media only screen and (min-width: $monitor) {
      flex-direction: row;
    }

    > div {
      display: flex;
      margin: 2em;
    }

    .title {
      flex-direction: column;
      margin-bottom: 0em;

      @media only screen and (min-width: $monitor) {
        min-width: 21rem;
        margin-bottom: 2em;
      }
    }

    .about {
      display: none;

      @media only screen and (min-width: $monitor) {
        display: block;
        min-width: 30rem;
      }
    }

    .contact {
      button {
        width: 10rem;
      }

      @media only screen and (min-width: $monitor) {
        justify-content: flex-end;
        width: 100%;
      }
    }
  }
}

