header {
  $border: 1.5px solid rgba(255,255,255,0.2);

  background-image: url('/images/me-filtered.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: $white;
  min-height: 34em;

  .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .title-bar, .simple-about {
    display: flex;
    background: rgba(79, 97, 77, 0.25);
  }

  .title-bar {
    flex-direction: column;

    
    .toggleable {
      display: none;

      &.active {
        display: flex;
      }

      @media only screen and (min-width: $large-handheld) {
        display: flex;
      }
    }

    @media only screen and (min-width: $large-handheld) {
      flex-direction: row;
      border-bottom: $border;
      justify-content: space-between;
    }
  }

  .toggle-bar {
    height: 4em;
    display: flex;
    flex-direction: row-reverse;
    border-bottom: $border;

    .toggle {
      display: flex;
      border-left: $border;
      border-bottom: none;

      span {
        transform: rotate(90deg);
      }
    }
    
    @media only screen and (min-width: $large-handheld) {
      display: none;
    }
  }

  .branding {
    display: flex;
    border-bottom: $border;
    flex-direction: column;

    h1, ul {
      padding: 1rem 1.5rem;
    }

    ul {
      display: flex;
      align-items: center;
    }

    li {
      margin-right: 1rem;
    }

    @media only screen and (min-width: $large-handheld) {
      flex-direction: row;
      justify-content: space-between;
      border-bottom: none;
      width: 100%;

      li {
        margin-right: 0;
        margin-left: 1rem;
      }
    }
  }

  .nav {
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      border-bottom: $border;
      height: 2rem;
    }

    @media only screen and (min-width: $large-handheld) {
      flex-direction: row;

      li {
        height: 100%;
        border-bottom: none;
      }
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .item {
    padding: 0 1.5rem;
    height: 100%;
    align-items: center;
    border-bottom: $border;
    
    &:hover {
      background: rgba(79, 97, 77, 0.15);
      cursor: pointer;
    }

    @media only screen and (min-width: $large-handheld) {
      display: flex;
      text-align: center;
      border-left: $border;
    }
  }


  .simple-about {
    border-top: $border;
    color: $white;
    flex-direction: column;

    @media only screen and (min-width: $medium-handheld) {
      flex-direction: row;
      justify-content: space-between;
      height: 9rem;
    }

    @media only screen and (min-width: $monitor) {
      flex-direction: row;
    }

    > div {
      display: flex;
      margin: 2em;
    }

    .title {
      flex-direction: column;
      margin-bottom: 0em;

      @media only screen and (min-width: $monitor) {
        min-width: 21rem;
        margin-bottom: 2em;
      }
    }

    .about {
      display: none;

      @media only screen and (min-width: $monitor) {
        display: block;
        min-width: 30rem;
      }
    }

    .contact {
      button {
        width: 10rem;
      }

      @media only screen and (min-width: $monitor) {
        justify-content: flex-end;
        width: 100%;
      }
    }
  }
}

