@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:400,500|Source+Sans+Pro:200,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Comfortaa|Montserrat:300,500|Roboto+Slab:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500&display=swap');

body {
  font-size: 14px;
}

h1, h2, p, {
  line-height: 1.5;
}

h1, h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.title-bar {
  text-transform: uppercase;
  letter-spacing: 2px;

  .nav {
    font-size: 0.7rem;
    font-family: 'Montserrat', sans-serif;
  }
}

p {
  font-family: 'Montserrat', serif;
  font-weight: 300;
}

h2 {
  padding-bottom: 0.3rem;
}

button, .button {
  font-family: 'Montserrat', serif;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 2.5rem; 
  background: none;
  border: 2px solid;
  padding: 0 2rem;
  cursor: pointer;

  @media only screen and (min-width: $medium-handheld) {
    &:active {
      margin-top: 2px;
    }
  }

  &.white {
    color: $white;
    border-color: $white;

    &:hover {
      background: $white;
      color: $brown;
      border-color: $brown;
    }
  }
}

form {
  font-family: 'Montserrat', serif;
  font-weight: 300;

  textarea, input {
    font-family: 'Montserrat', serif;
  }

}

[class^="icon-"], [class*=" icon-"] {
  &:before {
    font-size: 1.1rem;
  }
}
