:root {
  --font-family-heading: 'Poppins', sans-serif;
  --font-family-paragraph: Helvetica, sans-serif;
  --font-family-monospace: monospace;
  --base-color: {{ .Site.Params.baseColor | default "#ffffff" }};
  --base-offset-color: {{ .Site.Params.baseOffsetColor | default "#eaeaea" }};
  --highlight-color: {{ .Site.Params.highlightColor | default "#7b16ff" }};
  --heading-color: {{ .Site.Params.headingColor | default "#1c1b1d" }};
  --text-color: {{ .Site.Params.textColor | default "#4e5157" }};
  --dot-color: {{ .Site.Params.dotColor | default "#7b16ff" }};
}

$breakpoints: (
  'small': 767px,
  'medium': 992px,
  'large': 1200px,
);

@import 'normalize';
@import 'breakpoints';
@import 'header';
@import 'footer';
@import 'content';
@import 'intro';
@import 'summary';
@import 'author';
@import 'pagination';
@import 'main-menu';
@import 'main-menu-mobile';
// @import 'pygments/github';
// @import 'pygments/base16-snazzy';

html, body {
  box-sizing: border-box;
}

body {
  background: var(--base-color);
  font-family: var(--font-family-paragraph);
  color: var(--text-color);
  margin: 0;
  padding: 20px;
  overflow-x: hidden;
  @include breakpoint('small') {
    padding: 50px;
  }
  &.frame {
    min-height: 100vh;
    border: 18px solid var(--highlight-color);
  }
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.photo-credit {
  float: right;
}

.highlight {
    position: relative;
}
.highlight pre {
    padding-right: 75px;
}
.highlight-copy-btn {
    position: absolute;
    bottom: 7px;
    right: 7px;
    border: 0;
    border-radius: 4px;
    padding: 1px;
    font-size: 0.7em;
    line-height: 1.8;
    color: #fff;
    background-color: #777;
    min-width: 55px;
    text-align: center;
}
.highlight-copy-btn:hover {
    background-color: #666;
    cursor: pointer;
}

img.pull-left {
    float: left;
    margin: 0 30px 0 0;
}

img.pull-right {
    float: right;
    margin: 0 0 0 30px;
}
