<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/css/fontello.css' | relative_url }}" />
  </head>
  <body>

    {% include header.html %}

    <script charset="utf-8">
      var toggle = document.querySelector('.toggle');
      var targets = document.querySelectorAll('.toggleable');

      var toggleActive = function(target) {
        target.classList.toggle('active');
      }

      toggle.onclick = function() {
        targets.forEach(toggleActive);
      }
    </script>
  </body>
</html>
