<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/css/fontello.css' | relative_url }}" />
  </head>
  <body>
    <header>
      <div class="content">
        <div class="title-bar">
          <div class="toggle-bar">
            <div class="toggle item"><span>|||</span></div>
            <form action="home_submit" method="get" accept-charset="utf-8">
              
            </form>
          </div>
          <div class="branding toggleable">
            <h1>Engineer, Leader, Lover of Coffee</h1>
            <ul>
              <li><span class="icon-linkedin-circled-1"></span></li>
              <li><span class="icon-github-circled"></span></li>
            </ul>
          </div>
          <ul class="nav toggleable">
            <li class="item">
              <a href="http://www.url.com" target="_blank">Blog</a>
            </li>
            <li class="item">
              <a href="http://www.url.com" target="_blank">About</a>
            </li>
            <li class="item">
              <a href="http://www.url.com" target="_blank">Projects</a>
            </li>
          </ul>
        </div>
        <div class="simple-about">
          <div class="title">
            <h2>Alexander Butt-Piercey</h2>
            <p>Technology Visionary</p>
          </div>
          <div class="about">
            <p>Believer in Lean, staying Agile, and learning the hearts and minds of the customer. I have had the pleasure to help build world-class startups in Canada and Germany. Let us build the future together.</p>
          </div>
          <div class="contact">
            <button class="ghost-button">Contact me</button>
          </div>
        </div>
      </div>
    </header>
    {{ content }}
    <script charset="utf-8">
      var toggle = document.querySelector('.toggle');
      var targets = document.querySelectorAll('.toggleable');
      var toggleActive = function(target) {
        target.classList.toggle('active');
      }
      toggle.onclick = function() {
        targets.forEach(toggleActive);
      }
    </script>
  </body>
</html>
